@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@200&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@700&display=swap');

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Poppins', sans-serif;
    margin: auto;
    overflow: auto;
}

header {
    background-image: url("https://assets.nflxext.com/ffe/siteui/vlv3/7a33204b-893d-4792-8494-b9d6cbc73848/40ac467e-7fcd-4507-80be-06b66d80eb62/NG-en-20210502-popsignuptwoweeks-perspective_alpha_website_small.jpg");
    background-size: cover;
    background-position: center;
    min-height: 100%;
    height: 800px;
    -moz-box-shadow: inset 10px 10px 500px #000;
    -webkit-box-shadow: inset 100px 10px 900px #000;
    box-shadow: inset 100px 10px 500px #000;
    box-shadow: inset 150px 100px 900px 50px #000;
}

/* .head-container
.head-content {
    display: flex;
    justify-content: space-between;
} */

.head-container
.head-content h3 {
    color: #E50914;
    font-size: 2rem;
    font-weight: bold;
}

.head-container
.head-content
.resize {
    /* margin: 30px 0 0 100px; */
    /* border: 1px solid red; */
    position: relative;
    top: 30px;
    left: 60px;
    width: 200px;
    height: 50px;
    
}

.head-container .head-content button {
    position: relative;
    top: 30px;
    right: 100px;
}

.head-container
.head-content button {
    position: absolute;
    display: flex;
    justify-content: center;
    font-size: 17px;
    align-items: center;
    padding: .5rem;
    width: 100px;
    border: 1px solid transparent;
    border-radius: 5px;
    background-color: #E50914;
    color: #fff;
}

.head-container
.head-content button:hover{
    cursor: pointer;
}

/* Unlimited movie section */
.head-container
.content {
    text-align: center; 
    max-width: 45%;
    margin: 0 auto;
    position: relative;
    top: 30vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    
}

.head-container
.content > h1{
    color: #fff;
    
}

.head-container
.content > h3 {
    color: #fff;
}

.head-container
.content > p {
    color: #fff;
}

.head-container
.content h1 {
    font-size: 3.5rem; 
    width: 700px;
}

.head-container
.content h3 {
    font-size: 20px;
    padding-bottom: 30px;
    position: relative;
    right: 50px;
    
}

.head-container
.content p {
    font-size: 20px; 
    margin-bottom: 15px;
    font-weight: bold;
}

.head-container
.content > div {
    display: flex;
    margin-bottom: 20px;
}

.head-container
.content input {
    padding: 1.6rem;
    width: 550px;
    position: inherit;
}

.head-container
.content input:focus {
    outline: none;

}

.head-container
.content button {
    padding: 1.5rem;
    position: inherit;
    top: 3px;
    right: 5px;
    height: 70px;
    width: 200px;
    font-size: 20px;
    background-color: #E50914;
    color: #fff;
    border: 1px solid transparent; 
}

.head-container
.content button:hover{
    cursor: pointer;
}

.head-container
.content
.reshape {
    position: absolute;
    left: 70px;
}

/* Unlimited movie section */


/* MAIN Section Design */

main {
    background-color: black;
    text-align: center;
    
}
.main-content {
    border-top: 5px solid #4e4b4b66;
    border-bottom: 5px solid #4e4b4b66;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 100px;
}

.main-content  h3, p, h2 {
    color: #fff;
}

.main-content  h3 {
    font-size: 3rem;
}

.main-content  p {
    font-size: 1.5rem;
    /* width: 55%; */
}


.main-content 
.main-content-image img {
    width: 500px;
}

.main-content
.main-content-text {
    width: 35%;
    margin: 0 120px 0 0;
}  

.main-content
.retourch {
    margin: 0 0 0 120px;
}

.frequent {
    text-align: center;
    margin:  100px 0 0 0;
    
}

.frequent h2 {
    margin-bottom: 50px;
    font-size: 3rem;
}

.frequent 
.frequent-ques {
    border:  1px solid #303030;
    background-color: #303030;
    width: 50%;
    padding: 30px;
    margin:  0 auto;
    margin-top: 10px;
    text-align: justify;
    position: relative;
    left: 10px;
    display: flex;
    justify-content:  space-between;

}

.frequent 
.frequent-ques p {
    font-size: 1.7rem;
    
}

.frequent 
.frequent-ques p:hover {
    cursor: pointer;
}

.frequent .icon  {
    color: #fff;
    font-size: 30px;

}

.frequent .icon:hover {
    cursor: pointer;
}

.frequent p {
    color: #fff;
}

.frequent{
    display: flex;
    flex-direction: column;
}

main .box {
    padding-top: 50px;
    padding-bottom: 5%;
    border-bottom: 8px solid #4e4b4b66;
    
}

.box p {
    font-size: 1.2rem;
    margin-bottom: 12px;
}

.box input {
    padding: 1.6rem;
    width: 550px;   
}

.box button {
    padding: 1.5rem;
    position: relative;
    top: 3px;
    right: 5px;
    height: 70px;
    width: 200px;
    font-size: 20px;
    background-color: #E50914;
    color: #fff;
    border: 1px solid transparent; 
}

/* FOOTER SECTION DESIGN */

 footer {
    background: black;
    padding: 70px;
} 

.footer-section {
    display: flex;
    width: 62%;
    margin: 0 auto;
    justify-content: space-between;
    height: 40vh;
    padding: 30px;
}

.footer-section
.footer-content {
    padding: 20px;
}

.footer-section
.footer-content > p {
    margin-top: 15px;
    font-size: 14px;
    color: rgb(199, 198, 198);
}

.footer-section
.footer-content > p:hover {
    cursor: pointer;
    text-decoration: underline;
}

.footer-section
.foot-con p:first-child {
    font-size: 17px;
    position: relative;
    top: -15px;
    
}

.footer-section
.foot-con p:last-child {
    position: relative;
    top: 30px;
    font-size: 17px;
}

.footer-section
.res-po  {
    position: relative;
    padding-top: 60px;
}




/* Mobile View Design Of 375px  */

@media only screen and (max-width: 375px) {
    header{
        height: 500px;
    }

    .head-container
    .head-content
    .resize {
        position: relative;
        left: 5%;
        top: 25px;
        height: 25px;   
    }

    .head-container
    .head-content button {
        position: relative;
        left: 72%;
        top: 25px;
        width: 60px;
        font-size: 14px;
    }

    .head-container
    .content {
        top: 90px;
        text-align: center;
    }

    .head-container
    .content > h1 {
        font-size: 1.5rem;
    }

    .head-container
    .content > h3 {
        font-size: .9rem;

    }

    .head-container
    .content > p {
        width: 70%;
        font-size: .9rem;
    }

    .head-container
    .content input {
        width: 330px;
        height: 40px;
    }

    .head-container
    .content button {
        width: 150px; 
        height: 40px;
        padding: 0 0 0 0px; 
        text-align: center;
        
    }

    .head-container
    .content .reshape {
        position: relative;
        top: -25px;
        left: 15%;
        height: 12px;
        width: 50px;    
    }

    /* Main Section */

    main {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        
    }

    .main-content
    .main-content-text {
        margin: 0 auto;
        width: 85%;
    }

    .main-content
    .main-content-text > h3 {
        font-size: 1.4rem;
        margin-bottom: 15px; 
    }

    .main-content
    .main-content-text > p {
        font-size: 1rem;  
    }

    .main-content
    .main-content-image
    .image1 {
        width: 350px;
    }

    .main-content
    .main-content-image
    .image2 {
        width: 350px;
    }

    .main-content
    .retourch {
        margin-top: 30px;
        
    }

    .main-content 
    .re-add {
        width: 83%;
        position: relative;
        right: 3%;
    }

    .main-content
    .main-content-image
    .image3 {
        width: 350px;
        margin: 0 auto;
        margin-top: 20px;
    }

    .main-content
    .main-content-image
    .image4 {
        width: 350px;
    }

    .frequent h2 {
        font-size: 1.5rem;
        width: 60%;
        margin: 0 auto;
        margin-top: -15px;
        
        
    }

    .frequent
    .frequent-ques {
        width: 410px;
        height: 5px;
        margin: 0 auto;
        margin-top: 10px;
        display: flex;
        justify-content: start;
        align-items: center;
    }

    .frequent
    .frequent-ques p {
        font-size: 1rem;
        
    }

    .frequent
    .frequent-ques .icon {
        position: relative;
        left: 25%;
        font-size: 1.5rem;
    }

    .frequent
    .frequent-ques 
    .icon1 {
        left: 56%;
    }

    .frequent
    .frequent-ques 
    .icon3 {
        left: 44%;
    }

    .frequent
    .frequent-ques 
    .icon4 {
        left: 47%;
    }

    .frequent
    .frequent-ques 
    .icon6 {
        left: 38%;
    }

   
    .box p {
        font-size: 1rem;
        width: 80%;
        margin: 0 auto;
        margin-bottom: 10px;
    }

    .box input {
        width: 330px;
        height: 30px;
    }

    .box button {
        width: 150px; 
        height: 40px;
        padding: 0 0 0 0px; 
        text-align: center;
        font-size: 1rem;
        margin-top: 10px;
        margin-bottom: 40px;
    }

    footer {
        height:200vh;
    }

    .footer-section {
        height: 100%;
        width: 100%;
    }

    .footer-section {
        flex-direction: column;
    }

    .footer-section
    .res-po {
        top: -90px;
        padding-top: 0;
        
    }

    .footer-section
    .evenly {
        position: relative;
        top: -150px;
        border: 1px solid red;
        margin-bottom: 10px;
    }

}


@media only screen and (max-width: 800px) {
    .head-container
    .head-content
    .resize {
        width: 20px;
        height: 50px;
        
    }

    .head-content
    .content > div {
        /* display: flex;
        flex-direction: column; */
        display: block;
        border: 1px solid red;
    }

    .head-container
    .head-content button {
        position: absolute;
        left: 80%;
        margin-top: -35px;
        
    }

    .head-container
    .content h1 {
        font-size: 3rem;
    }

    .head-container
    .content h3 {
        font-size: 1.2rem;
    }

    .head-container
    .content p {
        font-size: 1rem;
    }

    .main-content {
        display: flex;
        flex-direction: column;
    }

    

    .main-content
    .main-content-text {
        width: 600px;
        position: relative;
        left: 10%;
    }

    .main-content
    .main-content-text h3 {
        font-size: 2rem;
        
    }

    .main-content
    .main-content-text p {
        font-size: 1.2rem;
    }

    .head-container
    .content h3 {
        width: 400px;
        left: 2%;
    }

    .main-content
    .retourch {
        position: relative;
        left: -50px;
        margin-top: 30px;
        
    }

    .head-container
    .content p {
        width: 450px;
        margin-top: -10px;
    }

    .head-container
    .content input {
        width: 500px;
        padding: 1rem;
    }
    
    .head-container
    .content button {
        margin-top: 10px;
        height: 50px;
        display: flex;
        justify-content: center;
        align-items: center;
        font-size: 15px;
    }

    .head-container
    .content div {
        flex-direction: column;
        align-items: center;
    }


    .head-container
    .content
    .reshape {
        height: 15px;
        left: 35%;
    }

    

    .head-container
    .head-content
    .resize {
        height: 50px;
        width: 100px;
        position: relative;
        top: 20px;
        left: 70px;
    }

    .head-container
    .head-content
    button {
        position: relative;
        right: 100px;
        top: 10px;
    }

    .main-content  h3{
        font-size: 10px;
    }
}


